<html>
<head>
  <title>Forgot Password Verification Reminder</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
    }
    .container {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    h2 {
      text-align: center;
      color: #333;
    }
    p {
      color: #666;
      line-height: 1.6;
    }
    .password {
      text-align: center;
      margin-top: 20px;
      margin-bottom: 40px;
      /* padding-left: 29px; */
    }
    .message {
      text-align: center;
      margin-bottom: 40px;
      /* padding-left: 36px; */
    }
    .main{
        background-color: rgb(223, 226, 226);
        width: fit-content;
        border-radius: 10px;
        padding: 20px;
    }
  </style>
</head>
<body>
  <div class="container">
   <div class="main">
    <h1>Welcome</h1>
     <h2 style="color: green;">Register Successfully </h2>
    <div style="display: flex;">
    <p class="password">Email:</p>
    <p class="password" style="padding-left: 30px;">{{email}}</p>
  </div>
    <div style="display: flex;">
    <p class="message">Password:</p>
    <p class="message" style="padding-left: 30px;">{{password}}</p>
     </div>
   </div>
    <p>Thank you,</p>
    <p>Codenox</p>
  </div>
</body>
</html>
